/*************** Reset *********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

/*************** Menu ****************/
@media (max-width: 1000px) {
  header {
    display: none;
  }
}

/*************** STYLE *****************/

main {
  max-width: 1200px;
  margin: 0 auto;
}

header {
  background-color: white;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
}

body {
  background-color: rgba(255, 248, 236, 1);
}

footer {
  background-color: rgba(255, 248, 236, 1);
}

.footer-logo {
  width: 100px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  font-family: "Jomolhari", serif;
  font-size: 2.5rem;
  padding: 10px;
}

h2 {
  font-family: "Jost", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  padding: 10px;
}

h3 {
  font-family: "Jost", sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  padding: 10px;
}

p {
  font-family: "Afacad", sans-serif;
  font-size: 1rem;
  padding: 10px;
}

a {
  font-family: "Jost", sans-serif;
  font-weight: 400;
  padding: 10px;
}

img {
  border-radius: 10px;
}

button {
  background-color: rgba(255, 227, 116, 1);
  border-radius: 5px;
  padding: 7px 7px;
}

/********** Burger Menu ************/

header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  height: 70px;
}

nav {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  margin-right: 20px;
}

.menu li:last-child {
  margin-right: 0;
}

.menu a {
  display: block;
  padding: 10px;
  color: black;
  text-decoration: none;
  transition: color 0.3s;
  text-align: end;
}

.menu a:hover {
  color: rgba(0, 113, 56, 1);
}

.burger {
  width: 30px;
  height: 20px;
  cursor: pointer;
}

.burger .line {
  width: 100%;
  height: 2px;
  background-color: rgba(251, 236, 219, 1);
  margin-bottom: 5px;
  transition: 0.2s linear;
}
.burger {
  display: none;
}

@media screen and (max-width: 800px) {
  .menu {
    display: none;
  }
  .burger {
    display: block;
  }
  .burger.active .line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
    transition: 0.2s linear;
  }

  .burger.active .line:nth-child(2) {
    opacity: 0;
    transition: 0.15s linear;
  }

  .burger.active .line:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
    transition: 0.2s linear;
  }

  nav.active .menu {
    display: block;
    background-color: rgba(120, 36, 36, 1);
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    z-index: 1;
  }

  nav.active .menu li {
    margin: 10px 20px;
  }

  nav.active .menu a {
    font-size: 24px;
  }
}
